<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redtop.engaze" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <permission
        android:name="com.redtop.engaze.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.redtop.engaze.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.redtop.engaze.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.redtop.engaze.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <!--uses-permission android:name="com.redtop.engaze.gcm.permission.C2D_MESSAGE" /-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="com.redtop.engaze.utils.EngazeApp"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/ETMaterialTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="MobileNumberVerificationActivity"
            android:label="@string/title_activity_login_message"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode = "stateVisible">
        </activity>
        <activity
            android:name="ProfileActivity"
            android:label="@string/title_activity_login_message"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="TestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="EULAActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="PrivacyPolicyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="CreateEditEventActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="PickLocationActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="EventSettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddContactsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="EventsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShowContactsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="TrackLocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".fragment.RunningEventMenuOptionsFragment"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarDialog" >
        </activity>
        <activity
            android:name="ShowLocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="RunningEventActivity"
            android:screenOrientation="portrait" >

        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_access_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="@string/google_map_access_key" /> -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name="com.redtop.engaze.service.EventTrackerGcmListenerService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="com.redtop.engaze.service.EventTrackerInstanceIDListenerService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name="com.redtop.engaze.service.FirstTimeInitializationService" >
        </service>
        <service android:name="com.redtop.engaze.service.EventRefreshService" >
        </service>
        <service android:name="com.redtop.engaze.service.EventDistanceReminderService" >
        </service>
        <service android:name="com.redtop.engaze.service.RegistrationIntentService" >
        </service>
        <!--         <service android:name="com.redtop.coordify.service.EventTrackerBackgroundService" > -->
        <!--         </service> -->
        <service
            android:name="com.redtop.engaze.service.EventTrackerLocationService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.redtop.engaze" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.redtop.engaze.service.EventTrackerAlarmReceiverService"
            android:enabled="true" >
        </receiver>
        <receiver android:name="com.redtop.engaze.utils.EventNotificationManager$notificationActionsListener" />

        <receiver android:name="com.redtop.engaze.utils.NetworkUpdateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.redtop.engaze.utils.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.redtop.engaze.service.PlaceProvider"
            android:authorities="com.redtop.engaze.service.PlaceProvider" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider467933183411723"
            android:exported="true" />
    </application>

</manifest>